@import "../../../../assets/scss/variables";
@import "../../../../assets/scss/mixins";

.products-cart {
  width: 100%;
}

.button {
  border: 0;
  background-color: $baseThemeColor;
  padding: 10px 15px;
  cursor: pointer;
  width: 135px;
  text-align: center;
  @include transition(.3s);

  &__text {
    color: $whiteColor;
    font-size: 1.2em;
  }

  &:hover {
    background-color: darken($baseThemeColor, 15%);
    @include transition(.3s);
  }
}

.products {
  &--empty {
    text-align: center;
    padding: 50px 0;
  }

  &__info {
    font-size: 2em;
    color: $baseBoldFontColor;
    font-weight: 600;
    text-transform: uppercase;
  }
}
